/node_modules/
/.git/
/**/package-lock.json
/**/Thumbs.db
/**/*.DS_Store
/.vscode/
/.idea/
.idea/
.vscode/
.git/
.DS_Store
Thumbs.db
/*.bat
atom-sftp-sync.json
off-atom-sftp-sync.json

/logs
/files
.env
